<form action="/auth/register" method="POST">
    <div class="form-group">
        <label for="authEmail">Email</label>
        <input type="email" name="email" id="authEmail" class="form-control">
    </div>
    <div class="form-group">
        <label for="authName">Name</label>
        <input type="text" id="authName" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="authPassword">Password</label>
        <input type="password" id="authPassword" class="form-control" name="password">
    </div>
    <input type="submit" class="btn">
    </form>=