* {
  margin: 0 auto;
  font-family: 'Magic:the Gathering';
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5vh;
  font-size: large;
  background: rgba(241, 140, 39, 0.75);
}

.rightnav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cardshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(15% - 1px);
          flex: 0 1 calc(15% - 1px);
  text-align: center;
}

a {
  font-weight: bold;
  font-size: larger;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: turquoise;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.description {
  max-width: 50vh;
  border: black;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
}

.show {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.deckadd {
  text-align: center;
}

.PN {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

body {
  color: white;
  background-image: url(/img/background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-size: contain; */
}

h1 {
  font-size: 75px;
}

p {
  font-size: larger;
}

.showpage {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cardname {
  background: rgba(0, 0, 0, 0.5);
}

.cards {
  background: rgba(0, 0, 0, 0.75);
}

.auth {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vh;
  height: 50vh;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
}

.authpage {
  /* background: rgba(0, 0, 0,0.75); */
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  height: 40px;
  width: 150px;
}
/*# sourceMappingURL=style.css.map */