<h2 class="profile">Hi <%= currentUser.name %> Welcome!</h2><br>
<h4 class="profile">Decks</h4>
<div class="decks">
    <% deck.forEach(deck => {%>
    <a href="/profile/<%= deck.name %>">
        <%= deck.name %>
    </a>
    <% }) %>
    </a></div>